*.#*
*.AssemblyAttributes.cs
*.MAP
*.aps
*.bak
*.cab
*.cache
*.csm
*.dll
*.dsw
*.exe
*.exp
*.il*
*.ilk
*.ipch
*.lastbuildstate
*.lib
*.local
*.log
*.map
*.mbt
*.metagen
*.metaproj*
*.mrt
*.msi
*.msm
*.ncb
*.ncrunchproject
*.ncrunchsolution
_NCrunch_*/
*.obj
*.obr
*.opensdf
*.orig
*.pch
*.pdb
*.res
*.sbr
*.sdf
*.suo
*.swp
*.td*
*.tlb
*.tlh
*.tlog
*.tsp
*.tmp
*.user
*.vspscc
*.wixobj
*.zip
*.~*
*_[Dd]ebug/
*_[Rr]elease/
*_i.c
*_p.c
.svn
NTiTy/*.bds*
NTiTy/*.dsk
NTiTy/*.sln
NTiTy/*_BuildAll.bat
NTiTy/Patch_Updates.txt
NTiTy/_ArtifactsIn
NTiTy/_ArtifactsOut
NTiTy/_PatchBuild
NTiTy/_Staging
NTiTy/_UnitTests/*
NTiTy/bc_bin6/*
Out.mak
Thumbs.db
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/
baseline.txt
bcb_mkf.mak
checkout_root.txt
obj/
packages/
NTiTy/QControlNew/QControl.bsc
*.gos
dlldata.c
*.tmp_proj

NTiTy/_build
*.bpi
*.bpl
_TestResults/
.project
*.patch
*.GhostDoc.xml
*Heat.wxs
NTiTy/Pabx/Generic/Tests/tests.xml
propnames_const.c.gen
NTiTy/Pabx/Chat/Sequence.Chat.dat
NTiTy/Pabx/Chat/Sequence.ChatMesgID.dat
*.ecmak
emake*
*.ecmak.*
*.ecaddin
*.ecd
*_ec.bat
*.ecmak_check
*.ectmp
NTiTy/Pabx/Load/ScriptAllocation.xml
.vs/
